<h1>Add a New Project!</h1>

<hr />
<form action="/project/create" method="post">
  <div class="d-flex flex-column">
    <div class="col-md-6 mb-3">
      <label for="name" class="form-label">Project Name:</label>
      <input type="text" class="form-control" name="name">
    </div>
    <label for="course" class="form-label">Choose your course:</label>
    <select name="course" class="form-select form-select-md-6 mb-3" aria-label="Choose your course">
      <option selected></option>
      <option value="Web Development">Web Development</option>
      <option value="Data Analitcs">Data Analitcs</option>
      <option value="UX UI">UX UI</option>
    </select>
    <div class="col-md-6 mb-3">
      <label for="website" class="form-label">Website URL:</label>
      <input type="text" class="form-control" name="url_website">
    </div>
    <div class="col-md-6 mb-3">
      <label for="github" class="form-label">GitHub URL:</label>
      <input type="text" class="form-control" name="url_github">
    </div>
    <div class="mb-3">
      <label for="description"  maxlength="10" class="form-label">Description:</label>
      <textarea class="form-control" name="description" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Upload your Image:</label>
      <input class="form-control" type="file" name="image">
    </div>
      <input  type="submit" value="Create Project!" class="btn btn-primary" id="btn-add">
    </div>
  </div>
</form>