  <h1>Add a New Project!</h1>

        <hr />
<div class="d-flex flex-column">
<div class="col-md-6 mb-3">
  <label for="formGroupExampleInput" class="form-label">Project Name:</label>
  <input type="text" class="form-control" id="formGroupExampleInput" >
</div>
<div class="col-md-6 mb-3">
  <label for="formGroupExampleInput2" class="form-label">Website URL:</label>
  <input type="url" class="form-control" id="formGroupExampleInput2">
</div>
<div class="col-md-6 mb-3">
  <label for="formGroupExampleInput2" class="form-label">GitHub URL:</label>
  <input type="url" class="form-control" id="formGroupExampleInput2">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<div class="mb-3">
    <label for="formFile" class="form-label">Upload your Image:</label>
    <input class="form-control" type="file" id="formFile">
  </div>

  </div>
</div>