body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: center;
  margin-bottom:50px !important;
  /* background-color: #d2d4c8 !important; */
}

a {
  color: #00b7ff;
}

.alert {
  width:100%;
  height:500px;
  position: relative;
  opacity: 0;
  background-color: black !important;
  color:white !important;
  animation: animationName 5s ;
  text-align:center;
  }
  
  @keyframes animationName{
    0% {
      margin-top: 100px;
      
      opacity: 1;
    }
    
    100% {
      margin-top: -30px;
      opacity: 0.8 ;
    }
  }



h1 {
  color: 15px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:5%;
  text-align: center;
}

.footer-text{
  color: black;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

#btn-add {
  width: 200px;
}

.navbar {
  background-color: #990100;
  width: 100%; }
  .navbar .navbar-nav .nav-link {
    color:  black; }
  .navbar .navbar-nav .nav-link:hover {
    color: #f2f2f2;
    color: blue; }
  .navbar .nav-item .dropdown,
  .navbar .dropdown:hover {
    color: #f2f2f2; }
  .navbar .dropdown-menu {
    background-color: blue; }
    .navbar .dropdown-menu .dropdown-item,
    .navbar .dropdown-menu .dropdown-item {
      color: #f2f2f2; }
    .navbar .dropdown-menu .dropdown-item:focus,
    .navbar .dropdown-menu .dropdown-item:hover {
      background-color: blue; 
      }
.justify {
  text-align: justify !important;
  font-family: 'Raleway', sans-serif;
}

.card-img {
  width: 300px !important;
  height: 200px !important;
}

.initial {
  width: 600px !important;
}
.contain {
  object-fit: contain !important;
}

.description {
  overflow: auto !important;
  width: 240px !important;
  height: 70px !important;
}

.btnconect {
  width: 250px;
}