body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: center;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

#btn-add {
  width: 200px;
}